@namespace ThingsGateway.Admin.Razor
@using ThingsGateway.Admin.Application

<div class="listtree-view">
    <h6>@AdminLocalizer["RoleList"]</h6>

    <TreeView
        class="pt-3"
              TItem="RoleTreeOutput" Items="Items" ShowIcon="true" ShowSearch IsAccordion=false IsVirtualize="true" OnTreeItemClick="OnTreeItemClick" ModelEqualityComparer="ModelEqualityComparer" IsFixedSearch OnSearchAsync="OnClickSearch">


    </TreeView>

</div>

